.widget {
     width: 13rem;
     height: 19.7rem;
     border-style: solid;
     border-width: 1.8px;
     border-color: #dbdbdb;
     position: fixed;
     top: 50%;
     left: 50%;
     /* bring your own prefixes */
     transform: translate(-50%, -50%);
     padding: 10px;
     text-align: center;
    
}

.widget-body {
    background-color: #F5F8F9;
    width: 100.5%;
    height: 62.3%;
    margin-top: 20px;
    margin-left: -10px;
    position: fixed;
    
}

.widget-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 10px;
    font-size: 1.05rem;
}

#widget-total-funds {
    margin-top: -15px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.08rem;
    color: #784196;
    font-weight: bold;
}

.widget-raised {
    font-family: 'Roboto', sans-serif;
    font-weight: 100, bold;
    font-size: .7rem;
    margin-top: -17px;
}

.widget-fundsCounter {
    width: 80%;
    height: .5rem;
    border-style: solid;
     border-width: 1px;
     border-color: grey;
     margin-left: 22px;
     margin-top: -8px;
     background-color: white;
    
}

.widget-fundsCounter-overlay {
    width: 65%;
    height: .5rem;
     margin-left: 21px;
     margin-top: -8px;
     background-color: #784196;
}

#widget-submit {
    padding: 8px;
    margin-top: 10px;
    width: 80%;
    background-color: #784196;
    color: white;
    border-radius: 5px;
    border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  cursor: pointer;
}

#widget-submit:hover {
    opacity: 0.8;
}

#widget-input {
    margin-top: -20px;
    padding: 8px;
    width: 80%;
    background-color: #784196;
    color: white;
    border-radius: 5px;
    border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  cursor: pointer;
}
#widget-input-submit-hidden {
  display: none;
}
#widget-input-submit {
    padding: 8px;
    width: 80%;
    background-color: #784196;
    color: white;
    border-radius: 5px;
    border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  cursor: pointer;
    margin-top: 10px;
    
}

#widget-input-submit:hover {
    opacity: 0.8;
}




